.sidebar {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--darkorange);
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}

.sidebar__wrapper {
  width: 100vw;
  height: 100dvh;
  min-width: 100vw;
  color: var(--body-color);
  opacity: 0;
}

.sidebar__container {
  height: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.ilid__cancel{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidelogo{
  font-size: calc(var(--small-font-size) + 0.3rem);
}

.cancel__button{
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.ssvg{
  width: 100%;
  height: 100%;
}

.sidebar__content{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.snav{
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 246, 237, 0.7);

  span{
    text-transform: uppercase;
    font-size: var(--small-font-size);
    color:  rgba(255, 246, 237, 0.7);
  }
}

.snav__links{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.snav__link{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--body-color);

  &:hover{
    .lindicator{
      opacity: 1;
    }
  }
}

.link__main{
  font-size: calc(var(--h2-font-size) + 1rem);
}

.lindicator{
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--body-color);
  opacity: 0;
  transition: all 0.5s ease;

  &.active__indicator{
    opacity: 1;
  }
}

.sidebar__footer{
  width: 100%;
  height: auto;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ssocials{
  width: 100%;
  height: auto;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 246, 237, 0.7);

  span{
    text-transform: uppercase;
    font-size: var(--small-font-size);
    color:  rgba(255, 246, 237, 0.7);
  }
}

.ssocial__links{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.social__link{
  color: var(--body-color);
}

//Responsive Design
@media screen and (max-width: 1024px) {
  .sidebar {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .sidebar__container {
    padding: 1.5rem 0 1.2rem;
    gap: 2rem;
  }

  .sidelogo{
    font-size: calc(var(--small-font-size) + 0.2rem);
  }

  .cancel__button{
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 520px) {
  .snav__links{
    gap: 0.15rem;
  }
  
  .snav__link{
    &:hover{
      .lindicator{
        opacity: 0;
      }
    }
  }
  
  .link__main{
    font-size: calc(var(--h2-font-size) + 0.6rem);
  }

  .ssocial__links{
    gap: 0rem;
    justify-content: space-between;
  }

  .lindicator{
    width: 12px;
    height: 12px;
  }

  .sidelogo{
    font-size: calc(var(--small-font-size) + 0.2rem);
  }
}

@media screen and (max-width: 400px) {
  .link__main{
    font-size: calc(var(--h2-font-size) + 0.4rem);
  }

  .sidelogo{
    font-size: calc(var(--small-font-size) + 0.1rem);
  }
}

@media screen and (min-width: 350px) and (max-width: 380px) and (min-height: 500px) and (max-height: 620px) {
  .cancel__button{
    width: 250px;
    height: 30px;
  }
}