.aform__wrapper{
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.form{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.form__top{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__forms{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
}

.checkbox__wrapper{
  width: 100%;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.checkbox{
  width: ;
}