@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.abox__wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1/0.9;


  &:hover{
    .aboutbox{
      border: 1px solid transparent;
    }

    .animation{
      opacity: 1;
    }

    .animationtwo{
      opacity: 0.5;
    }
  }

  .aboutbox {
    width: 100%;
    height: 100%;
    border: 1px solid var(--orange);
    border-radius: 20px;
    background-color: var(--body-color);
    z-index: 2;
    position: relative;
    transition: border 0.7s ease;
  }
  

  .animation,
  .animationtwo {
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-image: conic-gradient(
      from var(--angle),
      transparent 70%,
      var(--orange)
    );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 20px;
    animation: 3s spin linear infinite;
    opacity: 0;
    transition: opacity 0.7s ease;
  }

  .animationtwo {
    filter: blur(1.5rem);
    opacity: 0;
  }

  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
}

.aboutboxer {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 2rem 2rem 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 91, 0, 0.8) 20%,
    rgba(255, 91, 0, 0) 100%
  );
}

.aboutb__image {
  position: relative;
  height: 220px;

  img {
    object-fit: cover;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
  margin-top: auto;

  span {
    font-size: calc(var(--normal-font-size) + 0.3rem);
    font-family: var(--medium-font);
  }

  p {
    text-align: center;
    color: var(--text-color-light);
  }
}


//Responsive Design
@media screen and (max-width: 1470px) {
  .abox__wrapper {
    aspect-ratio: 1/0.9;
  }

  .aboutboxer {
    padding: 1.5rem 1.5rem 1.6rem;
  }

  .aboutb__image {
    height: 200px;
  }
}

@media screen and (max-width: 1360px) {
  .abox__wrapper {
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 1360px) {
  .aboutb__image {
    height: 170px;
  }
}

@media screen and (max-width: 1190px) {
  .aboutb__image {
    height: 150px;
  }

  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7rem;
    margin-top: auto;
  
    span {
      font-size: calc(var(--normal-font-size) + 0.3rem);
      font-family: var(--medium-font);
    }
  
    p {
      text-align: center;
      color: var(--text-color-light);
    }
  }
  
}