.aboutbox{
  width: 100%;
  aspect-ratio: 1/0.9;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--orange);
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(255, 91, 0, 0.80) 20%, rgba(255, 91, 0, 0.00) 100%);
}

.aboutb__image{
  position: relative;
  width: 200px;
  aspect-ratio: 387.5811/400;

  img{
    object-fit: cover;
  }
}

.about__content{
  display: flex;
  flex-direction: column;
  margin-top: auto;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  span{
    font-size: calc(var(--normal-font-size) + 0.2rem);
  }

  p{
    text-align: center;
    font-size: var(--text-color-light);
  }
}