.aa__wrapper{
  width: 100%;
  height: auto;
  padding: 1rem 2rem;
  border: 2px solid rgba(0,0,0,0.4);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aaw__left{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.al__date{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  color: var(--orange);
  font-family: var(--medium-font);
}

.aw__day{
  font-size: calc(var(--normal-font-size) + 1rem);
  line-height: 1;
}

.aw__date{
  font-size: calc(var(--normal-font-size) + 3rem);
  line-height: 1;
}

.aw__separator{
  width: 1.5px;
  height: 115px;
  background-color: rgba(0,0,0,0.4);
}

.aw__details{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.aw__infoone{
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.aw__svg{
  width: 25px;
  height: 25px;
  position: relative;

  svg{
    path{
      fill: ;
    }
  }
}