.agenda__wrapper{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.agenda__selection {
  width: max-content;
  padding: 0.4rem;
  display: flex;
  background-color: #ffe1c4;
  gap: 0.4rem;
  border-radius: 70px;

  .agenda__button {
    padding: 0.7rem 1.5rem;
    border-radius: 70px;
    background-color: var(--body-color);
    color: var(--text-color-light);
    cursor: pointer;
    transition: all 0.7s ease;

    &.active__button {
      background-color: var(--body-color);
      color: var(--body-color);
    }
  }
}