.countdown__wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}

.count__wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: var(--body-color);
  font-family: var(--script-font);
}

.count__box{
  font-size: calc(var(--biggest-font-size) + 2.5rem);
  width: 100%;
  height: 180px;
  border: 2px solid var(--body-color);
  border-radius: 100px;
  position: relative;

  span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.count__content{
  text-transform: uppercase;
  font-size: calc(var(--h2-font-size) - 0.5rem);
  width: max-content;
}

//Responsive Design
@media screen and (max-width: 930px) {
  .countdown__wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0px;
  }
}