.dmb__wrapper{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.dmw__image{
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 100%;

  img{
    object-fit: cover;
  }
}

.dm__text{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  span{
    font-size: calc(var(--normal-font-size) + 0.2rem)
  }

  p{
    color: var(--text-color-light);
  }
}
