.faqwrapper{
  width: 60%;
  margin: 0 auto;
}

.accordion__item{
  width: 100%;
  width: 100%;
  height: auto;
  border: 2cap solid rgba(0,0,0,0.3);
  border-radius: 15px;
}

.a__header{
  width: 100%;
  height: auto;
  padding: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p__tag{
  font-size: calc(var(--normal-font-size) + 0.2rem);
}

.svg{
  width: 30px;
  height: 30px;
  max-height: 30px;
  position: relative;

}