.faqwrapper{
  width: 60%;
  margin: 0 auto;
}

.accordion__item{
  width: 100%;
  width: 100%;
  height: auto;
  border: 1px solid var(--text-color-light);
  border-radius: 10px;
}

.a__header{
  width: 100%;
  height: auto;
  padding: ;
}