.select__wrapper{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.finput {
  width: 100%;
  position: relative;
  height: 70px;
  padding-left: 1rem;
  outline: none;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);


  &:focus {
    border: 1px solid #ffa473;
  }

}