.obox__wrapper {
  width: 100%;
  aspect-ratio: 550/700;
  position: relative;
  padding: 2.5rem 1.5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid var(--orange);

  &:hover {
    .obimage__wrapper {
      .button__fill {
        opacity: 1;
      }
    }
  }
}

.ob__content {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  gap: 1rem;

  span {
    font-size: var(--h2-font-size);
    line-height: 1.1;
  }

  p {
    color: var(--text-color-light);
    width: 100%;
  }
}

.obimage__wrapper {
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.ob__image {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 91, 0, 0.15);
}

.button__fill {
  padding: 0.6rem 1.3rem;
  border-radius: 100px;
  background-color: var(--orange);
  color: var(--body-color);
  border: 1px solid transparent;
  transition: all 0.5s ease;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  z-index: 2;
  font-size: var(--small-font-size);
  opacity: 0;

  &:hover {
    border: 1px solid var(--body-color);
    background-color: transparent;
  }
}


//Responsive Design
@media screen and (max-width: 1470px) {
  .obox__wrapper {
    aspect-ratio: 550/730;
    padding: 2rem 1.3rem 0rem;
  }
}

@media screen and (max-width: 1320px) {
  .obox__wrapper {
    aspect-ratio: 550/850;
    padding: 2rem 1.3rem 0rem;
  }
}