.about__width{
  width: 70%;
  margin: 0 auto;
}

//Responsive Design
@media screen and (max-width: 1200px) {
  .qs__wrapper{
    width: 85%;
  }
}

@media screen and (max-width: 900px) {
  .qs__wrapper{
    width: 100%;
    gap: 1.3rem;
  }
}