.about__width{
  width: 70%;
  margin: 0 auto;
}

//Responsive Design
@media screen and (max-width: 1200px) {
  .about__width{
    width: 85%;
  }
}

@media screen and (max-width: 900px) {
  .about__width{
    width: 100%;
  }
}