.sl__section{
  position: relative;
  width: 100%;
  height: auto;
  padding: 0rem 0 3rem;
}

.slslider__container{
  width: 100%;
  padding: 2rem 0;
  
}

.sl__slider{
  width: max-content;
  position: relative;
  display: flex;
}

.slider__main{
  display: flex;
  
  .slider__space{
    width: 1rem;
    height: 1rem;
    display: block;
  }
}

.slider__content{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-family: var(--script-font);
  font-size: calc(var(--h2-font-size) - 0.3rem);
  color: var(--orange);
}

.first__slide{
  display: flex;
  align-items: center;
  gap: 1.5rem;

  p{
    word-wrap: none;
  }

  .span__button{
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--orange);
  }
}