.venue__wrapper{
  width: 100%;
  aspect-ratio: 16/7;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.venue__main{
  width: 70%;
  height: 100%;
  position: relative;
}

.venue__right{
  width: 30%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  position: relative;
}